$container-width: 1300px;

$colours: (
  'deep-blue': #223658,
  'turquoise': #39d398,
  'coral-pink': #fb3457,
  'yellow': #ffae0c,
  'sky': #3d5cee,
  'warm-grey': #5f6062,
  'dark-grey': #333333,
  'light-grey': #dcdcd1,
  'white': #fff,
  'medium-grey': lighten(#5f6062, 35%)
);

$font-families: (
  'merriweather': ('Merriweather', Georgia, serif)
);

$font-sizes: (
  'small': (font-size: 14, line-height: 1.4),
  'medium': (font-size: 18, line-height: 1.4),
  'large': (font-size: 24, line-height: 1.25),
  'xlarge': (font-size: 32, line-height: 1.2)
);
